*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div1
{
    width: 100%;
    min-height: 100px;
    /* margin-left: 400px;   */
    /* background-color: blue; */
  
}
.div2
{  
        width: 100%;
        min-height: 50px;
        margin-left: 680px;
      
        /* background-color: red; */
}

#ulist
{
    float: right;
}

#list1
{
    display: inline-block;
    padding: 15px;
}

#glist
{
    display: inline; 
   
}

#list2
{
    list-style-type: none;
    float: left;
    /* padding: 5px;
    margin: 200px 10px; */

}
#search_id
{
    margin-left: 600px;
    height: 30px;
    width: 330px;
    border-radius: 20px;
    text-indent: 40px;
}
#search
{
    position: absolute;
    left: 610px;
    top: 175px;
}
#mic
{
    position: absolute;
    left: 880px;
    top: 175px;
    color: blue;
}
#camera
{
    position: absolute;
    left: 900px;
    top: 175px;
    color: blue;
}
#button1
{
    color: white;
    background-color: rgb(72, 68, 68);
    padding: 5px;
    border-radius: 3px;
    margin-left: 650px;
}
#button2
{
    color: white;
    background-color: rgb(72, 68, 68);
    padding: 5px;
    border-radius: 3px;
}
#wlist
{
    list-style-type: none;
    margin-left: 500px;
}
#list3
{   
    display: inline-block;
}
.div6
{
    padding: 10px;
    margin-left: auto;
    font-size: 20px;
    border-bottom: 2px solid black;
    background-color: gray;
    color: white;
    width: 100%;
}
.div7
{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: inline-block;
    background-color: gray;
    color: white;
}
.div8
{
    padding: 10px;
    float: left;
}



